<h1>So you're dog's name is <%= nameVar %></h1>
<% if(nameVar.toLowerCase() === "rusty"){ %>
    <p>Good Choice! Rusty is the Best</p>
<% } %>
<p>We want to welcome you and <%= nameVar %> do our wonderful dog community!</p>